@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');


*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
    background-color:hsl(226, 43%, 10%);
}


.container{
    display: flex;
    margin: auto;
    width: 50%;
    column-gap: 1.5rem;
    
}
.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 9rem);
    grid-template-rows: repeat(2, 9rem);
    grid-gap: 3rem;
    margin-top: 10rem;
    justify-content: center;

  }

.grid-container2{
    display: grid;
    grid-template-columns: repeat(1, 9rem);
    grid-template-rows: repeat(1, 21rem);
    grid-gap: 3rem;
    margin-top: 10rem;
    justify-content: center;
}

.box13 {
    grid-row: 1;
    grid-column: 1;
    background-color:  hsl(235, 46%, 20%);
    border-radius: 1rem 1rem 1rem 1rem ;
    margin-top: 16px;
    
  }
  
  .box14 {
    height: 15.5rem;
    grid-row: 1;
    grid-column: 1;
    background-color:hsl(246, 80%, 60%);
    margin-top: -1rem;
    z-index: 2;
    border-radius: .8rem 1rem 1rem 1rem ;
  }

.box1 {
    grid-row: 1;
    grid-column: 1;
    background-color:  hsl(235, 46%, 20%);
    z-index: 2;
    border-radius: .7rem .7rem 1rem 1rem ;
    margin-top: 16px;
    
  }
  
  .box2 {
    grid-row: 1;
    grid-column: 1;
    background-color: hsl(15, 100%, 70%);
    margin-top: -1rem;
    border-radius: 1rem 1rem 6rem 6rem ;
  }
  
  .box3 {
    grid-row: 1;
    grid-column: 2;
    background-color:hsl(235, 46%, 20%);
    z-index: 2;
    border-radius: .7rem .7rem 1rem 1rem ;
    margin-top: 16px;
  }
  
  .box4 {
    grid-row: 1;
    grid-column: 2;
    background-color: hsl(195, 74%, 62%);
    margin-top: -1rem;
    border-radius: 1rem 1rem 6rem 6rem ;
  }
  
  .box5 {
    grid-row: 1;
    grid-column: 3;
    background-color: hsl(235, 46%, 20%);;
    z-index: 2;
    border-radius: .7rem .7rem 1rem 1rem ;
    margin-top: 16px;
  }
  
  .box6 {
    grid-row: 1;
    grid-column: 3;
    background-color: hsl(348, 100%, 68%);
    margin-top: -1rem;
    border-radius: 1rem 1rem 6rem 6rem ;
  }
  
  .box7 {
    grid-row: 2;
    grid-column: 1;
    background-color: hsl(235, 46%, 20%);;
    z-index: 2;
    border-radius: .7rem .7rem 1rem 1rem ;
    margin-top: 16px;
    
  }
  
  .box8 {
    grid-row: 2;
    grid-column: 1;
    background-color: hsl(145, 58%, 55%);
    margin-top: -1rem;
    border-radius: 1rem 1rem 6rem 6rem ;
  }
  
  .box9 {
    grid-row: 2;
    grid-column: 2;
    background-color: hsl(235, 46%, 20%);;
    z-index: 2;
    border-radius: .7rem .7rem 1rem 1rem ;
    margin-top: 16px;
  }
  
  .box10 {
    grid-row: 2;
    grid-column: 2;
    background-color:hsl(264, 64%, 52%);
    margin-top: -1rem;
    border-radius: 1rem 1rem 6rem 6rem ;
  }
  
  .box11 {
    grid-row: 2;
    grid-column: 3;
    background-color: hsl(235, 46%, 20%);;
    z-index: 2;
    border-radius: .7rem .7rem 1rem 1rem ;
    margin-top: 16px;
  }
  
  .box12 {
    grid-row: 2;
    grid-column: 3;
    background-color: hsl(43, 84%, 65%);
    border-radius: 1rem 1rem 6rem 6rem ;
    margin-top: -1rem;
  }
  
  .box2 img {
    position: relative;
    left: 90px;
    background: transparent;
}

.box4 img {
    position: relative;
    left: 90px;
    background: transparent;
}

.box6 img {
    position: relative;
    left: 90px;
    background: transparent;
}

.box8 img {
    position: relative;
    left: 90px;
    background: transparent;
}

.box10 img {
    position: relative;
    left: 90px;
    background: transparent;
}

.box12 img {
    position: relative;
    left: 90px;
    background: transparent;
}

.box14 img {
    position: relative;
    left:13px;
    top: 20px;
    background: transparent;
}

.box-title{
    justify-content: space-between;
    display: flex;
    background: transparent;
    align-items: center;
    padding-left: 9px;
    padding-right: 9px;
    padding-top: 11px;
}

.box-title span:nth-child(1),:nth-child(2){
    color: #fff;
    }
.box-title img{
    cursor: pointer;
}

.box-content{
    background: transparent;
    padding-left: 10px;
    padding-top: 50px;
}

.report{
    background-color: transparent;
    font-size: 10px;
    text-decoration: transparent;
    font-weight: lighter;
}

.name1,.name2 {
    font-size: 24px;
    background-color: transparent;
}

.period {
    font-size: 12px;
    padding-top: 14.6rem;
    background-color: transparent;
    padding-left: 17px;
    font-weight: lighter;
    cursor: pointer;
  
}

.daily, .weekly, .monthly{
    background-color: transparent;
}

.weekly{
    margin-top: .5rem;
}

.monthly {
    margin-top: .5rem;
}

.box-content, .hrs, .time {
    padding-top: 5px;
    margin-top: .5rem;
    background-color: transparent;
}

.hrs{
    font-size: 26px;
    padding-left: 10px;
}

.time{
    font-size: 12px;
    margin-top: 0.1rem;
    font-weight: lighter;
}